.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 4300;
    cursor: pointer;
    &__burger {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: $color-main;
        transform-origin: 1px;
        transition: all 0.3s linear;
    }
}