.user-stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
    color: $gray;
    box-shadow: 0 4px 22px -6px rgb(6 5 50 / 15%);
    border-radius: 12px;
    border: 2px solid $gray-2;
    max-width: 350px;
    width: 100%;
    height: 150px;
    @media screen and (max-width: $lg-media) {
        min-width: auto;
        position: static;
    }
    &__info {
        margin-top: 6px;
    }
    &__item {
        margin-bottom: 4px;
    }
    &__btn {
        color: $color-main !important;
    }
}