.sidebar {
    position: fixed;
    left: 0;
    padding: 32px 16px;
    min-width: 256px;
    min-height: 100vh;
    z-index: 1;
    border-right: 2px solid $gray-2;
    @media screen and (max-width: $max-lg-media) {
        display: none;
    }
    &__logo-wrapper {
        margin-bottom: 15px;
        margin-left: 10px;
    }
}