body {
    background: $bg-main;
}

.main {
    margin-left: 256px;
    padding: 16px;
    @media screen and (max-width: $max-md-media) {
        margin-left: 0;
        padding: 16px 8px;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex: 1;
        @media screen and (max-width: $max-md-media) {
            flex-direction: column-reverse;
        }
    }
    &-asides {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 400px;
        position: sticky;
        top: 0;
        align-self: flex-start;
        margin-top: -16px;
        padding-top: 16px;
        @media screen and (max-width: $max-md-media) {
            min-width: 100%;
        }
    }
}



  
  
  