.stocks-stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
    color: $gray;
    box-shadow: 0 4px 22px -6px rgb(6 5 50 / 15%);
    border-radius: 12px;
    border: 2px solid $gray-2;
    &__item {
        display: flex;
        gap: 4px;
    }
    &__text {
        padding: 4px;
        border-radius: 10px;
        &--green {
            background: $successBg;
            color: $successColor;
        }
        &--red {
            background: $errorBg;
            color: $errorColor;
        }
    }
}