.day-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: $gray;
    box-shadow: 0 4px 22px -6px rgb(6 5 50 / 15%);
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background: $blue-3;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__title{
        margin-bottom: 12px;
    }
    &__icon {
        margin-right: 4px;
        border-radius: 8px;
        width: 30px;
        height: 30px;
    }
}