.calories-chart-skeleton {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 8px;
    box-shadow: 0 4px 22px -6px rgb(6 5 50 / 15%);
    border-radius: 12px;
    border: 2px solid $gray-2;
    min-height: 150px;
    &__item {
        height: 60px !important;
        width: 60px;
    }
}